header {
  padding: 10px;
  height: 20px;
  background-color: #FF424F;
}

.search-wrapper {
  display: flex;
  align-items: center;
}

.search-input {
  display: block;
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #FFCACA;
  color: #FFCACA;
  font-size: 14px;
  font-family: 'Montserrat';
}

.search-input:focus {
  outline: 0;
}

.fa-search {
  color: #FFCACA;
  margin-right: 10px;
  font-size: 18px;
}