header {
  position: fixed;
  width: 96%;
  top: 0;
  padding: 10px 2%;
  z-index: 9999;
  height: 20px;
  background-color: #FF424F;
}

.search-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.search-input {
  display: block;
  width: 100%;
  background: transparent;
  border: none;
  color: #FFCACA;
  font-size: 14px;
  font-family: 'Montserrat';
}

.search-input::placeholder {
  color: #FFFFFF;
  opacity: 0.4;
}

.search-input:focus {
  outline: 0;
}

.navigation {
  display: flex;
  background: #FF424F;
  padding: 10px;
  align-items: center;
  justify-content: space-evenly;
}

.fa-search {
  margin-right: 8px;
}